.features {width:100%;border: 1px solid #CCCCCC;font-size:12px;border-collapse:collapse;}

.features th {text-align:center;empty-cells:collapse;background-color:#CCCCFF;border:1px solid;}

.features td {text-align:center;border:1px solid;vertical-align: top;padding: 5px;}

.features2 {width:70%;border: 1px solid ;font-size:12px;border-collapse:collapse;}

.features2 th {text-align:center;empty-cells:collapse;background-color:#CCCCFF;border:1px solid;}

.features2 td {text-align:center;border:1px solid;vertical-align: top;padding: 2px;}


td.featureOperation {font-weight:bold; vertical-align: middle;background-color:#F5F5F5;}  

td.featureDescr {text-align:left;padding-left:10px;}

.tabOperation {width:100%;border:none;font-size:12px; }

table.tabOperation td, table.tabOperation th{ padding:2px; border: none;}
